[submodule "Iceberg3D/dependencies/glm"]
	path = Iceberg3D/dependencies/glm
	url = https://github.com/g-truc/glm
    branch = master
[submodule "Iceberg3D/dependencies/stb"]
	path = Iceberg3D/dependencies/stb
	url = https://github.com/nothings/stb
    branch = master
[submodule "Iceberg3D/dependencies/glad"]
	path = Iceberg3D/dependencies/glad
	url = https://github.com/Dav1dde/glad
	branch = c
